<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Portfolio</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>
<body class="home">
    <header class="header">
         <a href="#"><h3>freelance portfolio</h3></a>
        <button class="buttons__green">
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="header__nav">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                </li>
                <li>
                    <a href="#about">about</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
     
    </header>
    <main class="home__main">
        <section class="home__main__section--banner">
            <figure>
                <img src="/img/profile.png" alt="">
            </figure>
            <h1 data-aos="flip-up">freelance portfolio</h1>
            <div class="home__main__section--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
                <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>
        <section class="home__main__section--portfolio" id="portfolio">
            <h2 class="general__subtitulos">portfolio</h2>
            <div class="home__main__section--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <div class="home__main__section--portfolio--images">
                <figure data-aos="zoom-in-down"  data-aos-duration="1000">
                    <img src="/img/cabin.png" alt="">
                </figure>
                <figure data-aos="zoom-in"  data-aos-duration="1000">
                    <img src="/img/cake.png" alt="">
                </figure>
                <figure data-aos="zoom-in-up"  data-aos-duration="1000">
                    <img src="/img/circus.png" alt="">
                </figure>
                <figure data-aos="zoom-in-down"  data-aos-duration="1000">
                    <img src="/img/game.png" alt="">
                </figure>
                <figure data-aos="zoom-in"  data-aos-duration="1000">
                    <img src="/img/safe.png" alt="">
                </figure>
                <figure data-aos="zoom-in-up"  data-aos-duration="1000">
                    <img src="/img/submarine.png" alt="">
                </figure>
            </div>
         
        </section>
        <section class="home__main__section--about" id="about">
            <h2 class="general__subtitulos">about</h2>
            <div class="home__main__section--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <article>
                <p>Freelance is a free landing page theme created for free use. The download includes the complete source files including HTML, CSS, and JavaScript as weel as optional SASS stylesheets for easy customization</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attact clients, or a graphic artist looking to share your projects, this template is the perferct starting point!</p>
            </article>
           <a href=""><i class="fa-solid fa-download"></i>Download Now!</a>
        </section>
        <section class="home__main__section--contact" id="contact">
            <h2 class="general__subtitulos">contact me</h2>
            <div class="home__main__section--star">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <form action="" method="">
                <div class="form__box">
                    <label for="name">Name</label>
                    <input class="form-input" type="text" autocomplete="off" id="name" name="name">
                </div>
                <div class="form__box">
                    <label for="email">Email Address</label>
                    <input class="form-input" type="email" autocomplete="off" id="email" name="email">
                </div>
                <div class="form__box">
                    <label for="phone">Phone Number</label>
                    <input class="form-input" type="tel" autocomplete="off" id="phone" name="phone">
                </div>
                <div class="form__box">
                    <label for="message" >Message</label>
                    <textarea class="form-textarea" name="" id="message" rows="10"></textarea>
                </div>
                <div class="form__box--flex">
                    <button class="buttons__green" type="submit">Send</button>
                </div>
            </form>
        </section>
    </main>
    <footer class="footer">
        <section class="footer__section">
            <article class="footer__section__article">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>
            <article class="footer__section__article">
                <h3>around the web</h3>
                <div class="home__footer__section__article--network">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-dribbble"></i></a>
                </div>
            </article>
            <article class="footer__section__article">
                <h3>about freelancer</h3>
                <p>Freelance is free and open souce landing page theme created to <span>your free personal use</span>.</p>
            </article>
        </section>
        <section class="footer__section__article--copyright">
            <p >Copyright<i class="fa fa-copyright"></i> Your Website 2022</p>
        </section>
       
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>