.header{
    background-color: var(--colorAzul);
    padding: 20px 5% 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.header h3{
    text-transform: uppercase;
    color: #fff;
    font-family: var(--familyTitles);
    font-weight: 800;
}
.header__nav{
    display: none;
}

@media (min-width:768px) {
    .header {
      flex-direction: row;  
      justify-content: space-between;
      padding: 20px 5% 20px;
        align-items: center;
    }
}

@media (min-width:1024px) {
    .header h3 {
        font-size: 1.5rem;
    }
    .header__nav{
        display: block;
    }

    .header__nav ul {
        display: flex;
    text-transform: uppercase;
    gap: 10px;
    }

    .header__nav ul li a {
        color: #fff;
        font-weight: 800;
    }

    .header button{
        display: none;
    }
}